a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

  a:visited {
  color: CornSilk;
  background-color: transparent;
  text-decoration: none;
  }

  a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  }

  a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
  }
  
header {
  background-color: DarkSlateBlue;
  color: white;
}

.name {
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  font-size: 3em;
}

.email {
  text-align: center;
}

body {
  color: DarkSlateBlue;
}

.aboutMe {
  border: 1px solid DarkSlateBlue;
  text-align: center;
}

.deltaDetails {
  line-height: 0.1;
}

.atlasDetails {
  line-height: 0.1;
}

.airforceDetails {
  line-height: 0.1;
}

.work > h2 {
  text-align: center;
}

.work:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 1px solid DarkSlateBlue;
}

.education > h2 {
  text-align: center;
}

p {
  color: green;
}
