.name {
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
}

.contactInfo {
  border: 1px solid black;
}

.contactInfo ul {
  display: inline;
  list-style-type: circle;
}

p {
  color: red;
}
