a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

  a:visited {
  color: CornSilk;
  background-color: transparent;
  text-decoration: none;
  }

  a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  }

  a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
  }
  
header {
  background-color: DarkSlateBlue;
  color: white;
}

.name {
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
}

.email {
  text-align: center;
}

body {
  color: DarkSlateBlue;
}

.aboutMe {
  border: 1px solid DarkSlateBlue;
  text-align: center;
}

.deltaDetails {
  line-height: 0.75;
  color: red;
}

.atlasDetails {
  line-height: 0.5;
  color: green;
}

.airforceDetails {
  line-height: 0.25;
  color: blue;
}


p {
  color: red;
}
